<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.polimi.ma.group10.trump">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:resizeableActivity="false"
        >
        <service
            android:name=".service.BackgroundSoundService"
            android:enabled="true" />

        <activity
            android:name=".view.activity.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.GameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.StatsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AchievementsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.activity.StartUpActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>